/*	-------------------------------------
	:: Typography
	---------------------------------- */

	// Header Tags
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
		font-size: 140%;
	    line-height: 125%;
	    color: $gray-dark;
		margin-top: 0;
		margin-bottom: 0.25em;

		a {
			color: inherit;

			&:hover {
				color: $red;
			}
		}

		// Handle mobile typography appropriately
		@include max-width(900px) {
			word-break: break-word;
			hyphens: auto;
		}

		// Increase font-size as browsers increase
		@include min-width(800px) {
			font-size: 160%;
		}
	}

	h1 {
		font-size: 40px;
		text-align: center;

		@include min-width(800px) {
			font-size: 60px;
		}
	}

	p {
		margin: 0 0 2em 0;
		hyphens: auto;
	}


	/* Helpful Typography Defaults */
	em, i {
		font-style: italic;
		line-height: inherit;
	}

	strong, b {
		font-weight: bold;
		line-height: inherit;
	}

	sub, sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}

	sup { top: -.5em; }
	sub { bottom: -.25em; }


	/* Links */
	a {
		position: relative;
		text-decoration: none;
		color: $cta;
		line-height: inherit;
		transition: color 0.2s ease-in-out 0ms;

		&:focus  {
			color: rgba(0, 0, 0, 0.4);
			outline: none;
		}

		img { border: none; }
	}


	/* Images */
	img {
		vertical-align: top;
		max-width: 100%;
		height: auto;
	}

	svg:not(:root) { overflow: hidden; }


	/* Unsorted/Sorted Lists */
	ol, ul {
		list-style: none;
		padding: 0;

		ol, ul {
			margin-bottom: 0;
		}
	}

	ul {
		list-style-type: disc;
		margin: 0 0 2em;
		padding-left: 1.125em;
	}

	ol {
		margin: 0 0 2em;
		padding-left: 1.125em;
		list-style-type: decimal;
	}

	/* Quotes */
	blockquote {
		margin: 0 0 30px 0;
		padding-left: 30px;
		border-left: 2px solid $gray-dark;
		transition: all 0.2s ease;
		color: rgba(0, 0, 0, 0.5);
		font-style: italic;
		margin: 0 auto;
		letter-spacing: -0.005em;
	}
		q {
			quotes: '\201C' '\201D' '\2018' '\2019';
		}


	// Horizontal Rules
	hr {
		height: 1px;
		background: $gray;
		border: none;
		margin-bottom: 2em;
	}

	time {
		font-style: italic;
	}

	code {
		background: #ededed;
		padding: 1px 4px 4px;
		border-radius: 4px;
	}
