/*	-------------------------------------
	:: Sidebar
	---------------------------------- */
	#sidebar {

	}


	/* Widget overrides
	---------------------------------- */
	// Hide the default label for search box
	#searchform label[for="s"] { display: none; }

	// Apply better UL/OL styles for recent posts / categorires
	.widget-area {
		// for all lists
		ul, ol {
			padding: 0;
			list-style: none;

			li {
				margin-bottom: 10px;
			}
		}

		// Individual widgets
		.widget-container {
			margin-bottom: 30px;
		}
	}

	// Widget Titles
	.widget-title {
		margin-bottom: 10px;
	}


	// Recent Posts
	.widget_recent_entries {
		ul, ol {
			li {
				margin-bottom: 20px;
			}
		}
	}
