/*	-------------------------------------
	:: Forms
	---------------------------------- */
	form {

	}

	/* Submit */
	[type="submit"] {
		appearance: none;
		font-family: $button-font;
		font-weight: 700;
		font-size: 16px;
		border: 1px solid $gray-light;
		background: white;
		border-radius: 5px;
		padding: 4px 12px 6px;

		&:hover {
			cursor: pointer;
		}
		
		&:active {
			background: $gray-light;
		}
	}

	[type="text"] {
		font-size: 14px;
		width: 100%;
		padding: 6px 8px 8px;
		margin-bottom: 10px;
		font-family: $primary-font;
	}
